# Imports and path variables

### Import libraries

In [66]:
import pandas as pd

### Set Path and define the filenames (for quick reference)
- NOTE: Set the path appropriately on your own machine.

In [216]:
path = "/Users/patrickboland4/p_code/projects/factors_influencing_corn_prices/data/"

tmi = 'temp_min_parsed.txt'
tma = 'temp_max_parsed.txt'
p = 'precipitation_parsed.txt'
uiuc = 'corn_data.csv'
ethanol = 'US_corn_ethanol.csv'

___

# Creating and manipulating our dataframes

### Create the temp_min, temp_max, precip dataframes

In [68]:
temp_min = pd.read_csv(path + tmi, sep=',', header=None, index_col=None, na_values='NANAN')
temp_min.columns=['Station', 'Year', 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul',
                                'Aug', 'Sep', 'Oct', 'Nov', 'Dec', 'Avg/Total']

temp_max = pd.read_csv(path + tma, sep=',', header=None, index_col=None, na_values='NANAN')
temp_max.columns=['Station', 'Year', 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul',
                                'Aug', 'Sep', 'Oct', 'Nov', 'Dec', 'Avg/Total']

precip = pd.read_csv(path + p, sep=',', header=None, index_col=None, na_values='NANAN')
precip.columns=['Station', 'Year', 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul',
                                'Aug', 'Sep', 'Oct', 'Nov', 'Dec', 'Avg/Total']

Take a look at the head of temp_min

In [69]:
temp_min.head()

,Station,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Avg/Total
0,11084,1889,NaN,NaN,NaN,NaN,NaN,NaN,722.0,683.0,652.0,NaN,NaN,513.0,NaN
1,11084,1890,515.0,511.0,466.0,570.0,610.0,NaN,721.0,694.0,669.0,529.0,468.0,426.0,NaN
2,11084,1891,395.0,507.0,474.0,549.0,591.0,696.0,NaN,713.0,668.0,502.0,425.0,461.0,NaN
3,11084,1892,364.0,475.0,NaN,NaN,636.0,695.0,738.0,722.0,646.0,537.0,449.0,425.0,NaN
4,11084,1893,363.0,492.0,480.0,605.0,645.0,714.0,730.0,718.0,681.0,528.0,446.0,417.0,568.0

Take a look at the head of temp_max

In [70]:
temp_max.head()

,Station,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Avg/Total
0,11084,1889,NaN,NaN,NaN,NaN,NaN,NaN,944.0,927.0,919.0,NaN,NaN,767.0,NaN
1,11084,1890,734.0,768.0,719.0,817.0,870.0,NaN,940.0,932.0,890.0,810.0,738.0,651.0,NaN
2,11084,1891,623.0,745.0,NaN,816.0,879.0,962.0,NaN,932.0,897.0,796.0,691.0,634.0,NaN
3,11084,1892,553.0,706.0,722.0,832.0,851.0,926.0,894.0,946.0,896.0,880.0,729.0,623.0,796.0
4,11084,1893,573.0,699.0,694.0,811.0,861.0,938.0,962.0,946.0,930.0,821.0,716.0,705.0,805.0

Take a look at the head of precip

In [71]:
precip.head()

,Station,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Avg/Total
0,11084,1890,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,170.0,NaN
1,11084,1891,550.0,561.0,575.0,165.0,275.0,670.0,425.0,172.0,200.0,0.0,930.0,525.0,5048.0
2,11084,1892,1245.0,440.0,256.0,160.0,380.0,780.0,1226.0,1355.0,300.0,100.0,165.0,NaN,NaN
3,11084,1893,535.0,608.0,465.0,380.0,730.0,345.0,425.0,645.0,345.0,635.0,487.0,487.0,6087.0
4,11084,1894,240.0,1649.0,788.0,225.0,465.0,265.0,NaN,NaN,NaN,30.0,NaN,75.0,NaN

### Read in csv files within location_data folder
- There are 2 files, including station_locations.csv (sloc), and state_name_regions.csv (snr)
- These dataframes will be merged together (below) into the state_name_regions_final dataframe (snrf)

In [72]:
sloc = pd.read_csv(path+'location_data/station_locations.csv')
snr = pd.read_csv(path+'location_data/state_name_regions.csv')

Take a look at the head of sloc

In [73]:
sloc.head()

   Station  Latitude  Longitude  Elevation Abbreviation
0    11084   31.0581   -87.0547       25.9           AL
1    12813   30.5467   -87.8808        7.0           AL
2    13160   32.8347   -88.1342       38.1           AL
3    13511   32.7017   -87.5808       67.1           AL
4    13816   31.8700   -86.2542      132.0           AL

Take a look at the head of snr

In [74]:
snr.head()

   State Name Abbreviation Region          Sub-Region
0     Alabama           AL  South  East South Central
1      Alaska           AK   West             Pacific
2     Arizona           AZ   West            Mountain
3    Arkansas           AR  South  West South Central
4  California           CA   West             Pacific

**Merge the dataframes together**

In [75]:
snrf = snr.merge(sloc, on='Abbreviation', how='outer')

Look at the head of snrf

In [76]:
snrf.head()

,State Name,Abbreviation,Region,Sub-Region,Station,Latitude,Longitude,Elevation
0,Alabama,AL,South,East South Central,11084.0,31.0581,-87.0547,25.9
1,Alabama,AL,South,East South Central,12813.0,30.5467,-87.8808,7.0
2,Alabama,AL,South,East South Central,13160.0,32.8347,-88.1342,38.1
3,Alabama,AL,South,East South Central,13511.0,32.7017,-87.5808,67.1
4,Alabama,AL,South,East South Central,13816.0,31.8700,-86.2542,132.0

Remove Latitude, Longitude and Elevation from the snrf dataframe

In [77]:
snrf.drop(snrf.columns[-3:], axis=1, inplace=True)

Take a look at snrf once more to verify we have removed the correct columns

In [78]:
snrf.head()

  State Name Abbreviation Region          Sub-Region  Station
0    Alabama           AL  South  East South Central  11084.0
1    Alabama           AL  South  East South Central  12813.0
2    Alabama           AL  South  East South Central  13160.0
3    Alabama           AL  South  East South Central  13511.0
4    Alabama           AL  South  East South Central  13816.0

___

### Merging the climate dataframes together

- Our next step is to merge temp_max, temp_min, and precip into a single dataframe
- First we need to adjust the month columns ('Jan', 'Feb', 'Mar', ... 'Nov', 'Dec') to be reflected as 'Jan_tmin', 'Feb_tmin', etc for the temp_min data. We will follow a similar convention for naming the month columns with the temp_max and precip dataframes

**Change the naming convention for the columns of the 3 climate dataframes**

Take a look at the column names of temp_max

In [79]:
temp_max.columns

Index(['Station', 'Year', 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul',
       'Aug', 'Sep', 'Oct', 'Nov', 'Dec', 'Avg/Total'],
      dtype='object')

Do the columns actually share the same name between the 3 dataframes? Let's compare temp_max and temp_min

In [80]:
temp_max.columns == temp_min.columns

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True], dtype=bool)

We see that the above two dataframes have equal columns. Let's check to see if precip also shares the same columns. Based on the results of our test above, if temp_min and precip share the same columns, the temp_max and precip must share the same columns.

In [81]:
temp_min.columns == precip.columns

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True], dtype=bool)

**We now know that temp_max, temp_min, and precip all share the same column names**
- Let's now go to work on changing our column names so that we may differentiate the data once we have a single merged climate dataframe, encompassing temp_max, temp_min, and precip
- This code represents the convention for changing columns names within a dataframe 
>`df.rename(columns={'col_a': 'a', 'col_b': 'b'}, inplace=True)`
- The `df.rename` method takes a columns parameter, a dictionary, with keys == the existing column name and values == the new column name. By specifying inplace=True, we are able to persist the changes to the dataframe being called, without reassigning it to a new dataframe. We can achieve the same thing with the following 
> `df = df.rename(columns={'col_a': 'a', 'col_b': 'b'})`

Create 3 column dictionaries, one for each climate dataframe (col_dict)

In [82]:
tmax_col_dict = {}
tmin_col_dict = {}
pr_col_dict = {}

#### Preparation for changing column names
___

We will want to change the months and the 'Avg/Total' column ('Jan', 'Feb', 'Mar', 'Apr', ... 'Dec', 'Avg/Total'). To do this, let's slice the temp_max.columns list from 2 (inclusive) to 15 (not inclusive). **Remember** - We proved above that our 3 climate dataframes share the same columns, so a slice of any size will yield the same result across these dataframes, so long as the slice occurs across the same indexes.

In [83]:
months = temp_max.columns[2:15]

Take a look at months to make sure we sliced it appropriately. Our result should be ['Jan', 'Feb', 'Mar', 'Apr', ... 'Dec', 'Avg/Total']

In [84]:
months

Index(['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct',
       'Nov', 'Dec', 'Avg/Total'],
      dtype='object')

Our test worked. The variable months now represents the appropriate columns within the dataframe. These will operate as the keys within our dictionary. Now lets create the values we will use within the dictionary.
- We will create lists for temp_max (tmax), temp_min (tmin) and precip (pr). The naming convention of the new columns will be `Month_list`. We will accomplish this using list comprehensions

In [85]:
tmax_values = [month + '_tmax' for month in months]
tmin_values = [month + '_tmin' for month in months]
pr_values = [month + '_pr' for month in months]

Let's have a look at pr_values to verify the list comprehension worked

In [86]:
pr_values

['Jan_pr',
 'Feb_pr',
 'Mar_pr',
 'Apr_pr',
 'May_pr',
 'Jun_pr',
 'Jul_pr',
 'Aug_pr',
 'Sep_pr',
 'Oct_pr',
 'Nov_pr',
 'Dec_pr',
 'Avg/Total_pr']

Our test worked! We will now zip the month and values together, then place them into their respective dictionary

In [87]:
for col_name, new_col_name in zip(months, tmax_values):
    tmax_col_dict[col_name] = new_col_name

for col_name, new_col_name in zip(months, tmin_values):
    tmin_col_dict[col_name] = new_col_name

for col_name, new_col_name in zip(months, pr_values):
    pr_col_dict[col_name] = new_col_name

Check out the pr_col_dict to verify that the above worked.

In [88]:
tmax_col_dict

{'Apr': 'Apr_tmax',
 'Aug': 'Aug_tmax',
 'Avg/Total': 'Avg/Total_tmax',
 'Dec': 'Dec_tmax',
 'Feb': 'Feb_tmax',
 'Jan': 'Jan_tmax',
 'Jul': 'Jul_tmax',
 'Jun': 'Jun_tmax',
 'Mar': 'Mar_tmax',
 'May': 'May_tmax',
 'Nov': 'Nov_tmax',
 'Oct': 'Oct_tmax',
 'Sep': 'Sep_tmax'}

___

#### Now we have 3 dictionaries,  `tmax_col_dict, tmin_col_dict, pr_col_dict` that we can use to rename columns within the climate dataframes. Let's accomplish that using the following convention
>`df.rename(columns={'col_a': 'a', 'col_b': 'b'}, inplace=True)`

One more look at the head() of the temp_max dataframe

In [89]:
temp_max.head()

,Station,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Avg/Total
0,11084,1889,NaN,NaN,NaN,NaN,NaN,NaN,944.0,927.0,919.0,NaN,NaN,767.0,NaN
1,11084,1890,734.0,768.0,719.0,817.0,870.0,NaN,940.0,932.0,890.0,810.0,738.0,651.0,NaN
2,11084,1891,623.0,745.0,NaN,816.0,879.0,962.0,NaN,932.0,897.0,796.0,691.0,634.0,NaN
3,11084,1892,553.0,706.0,722.0,832.0,851.0,926.0,894.0,946.0,896.0,880.0,729.0,623.0,796.0
4,11084,1893,573.0,699.0,694.0,811.0,861.0,938.0,962.0,946.0,930.0,821.0,716.0,705.0,805.0

Rename the columns on the temp_max dataframe

In [90]:
temp_max.rename(columns=tmax_col_dict, inplace=True)

Let's check out the head of the temp_max dataframe to see if that worked

In [91]:
temp_max.head()

,Station,Year,Jan_tmax,Feb_tmax,Mar_tmax,Apr_tmax,May_tmax,Jun_tmax,Jul_tmax,Aug_tmax,Sep_tmax,Oct_tmax,Nov_tmax,Dec_tmax,Avg/Total_tmax
0,11084,1889,NaN,NaN,NaN,NaN,NaN,NaN,944.0,927.0,919.0,NaN,NaN,767.0,NaN
1,11084,1890,734.0,768.0,719.0,817.0,870.0,NaN,940.0,932.0,890.0,810.0,738.0,651.0,NaN
2,11084,1891,623.0,745.0,NaN,816.0,879.0,962.0,NaN,932.0,897.0,796.0,691.0,634.0,NaN
3,11084,1892,553.0,706.0,722.0,832.0,851.0,926.0,894.0,946.0,896.0,880.0,729.0,623.0,796.0
4,11084,1893,573.0,699.0,694.0,811.0,861.0,938.0,962.0,946.0,930.0,821.0,716.0,705.0,805.0

We can accomplish the same thing as the above by calling `df.columns`

In [92]:
temp_max.columns

Index(['Station', 'Year', 'Jan_tmax', 'Feb_tmax', 'Mar_tmax', 'Apr_tmax',
       'May_tmax', 'Jun_tmax', 'Jul_tmax', 'Aug_tmax', 'Sep_tmax', 'Oct_tmax',
       'Nov_tmax', 'Dec_tmax', 'Avg/Total_tmax'],
      dtype='object')

Let's rename our other dataframes, temp_min, and precip

In [93]:
precip.rename(columns=pr_col_dict, inplace=True)
temp_min.rename(columns=tmin_col_dict, inplace=True)

Let's call `.columns` to retrieve the new column conventions of the precip and temp_min dataframes

In [94]:
print('precip df columns\n', precip.columns, '\n\n', 'temp_min df columns \n', temp_min.columns)

precip df columns
 Index(['Station', 'Year', 'Jan_pr', 'Feb_pr', 'Mar_pr', 'Apr_pr', 'May_pr',
       'Jun_pr', 'Jul_pr', 'Aug_pr', 'Sep_pr', 'Oct_pr', 'Nov_pr', 'Dec_pr',
       'Avg/Total_pr'],
      dtype='object')

 temp_min df columns
 Index(['Station', 'Year', 'Jan_tmin', 'Feb_tmin', 'Mar_tmin', 'Apr_tmin',
       'May_tmin', 'Jun_tmin', 'Jul_tmin', 'Aug_tmin', 'Sep_tmin', 'Oct_tmin',
       'Nov_tmin', 'Dec_tmin', 'Avg/Total_tmin'],
      dtype='object')

#### Merging these dataframes together!
Let's create the **clim** (or climate) dataframe which will encompass the temp_max, temp_min, and precip dataframes

**NOTE** - We must specify the dataframes be joined on the 'Station', **and** 'Year' columns, as these are the columns shared by each separate dataframe. If we do not specify the join on these two columns, the `df.merge(df1)` call will crash our kernel, as we are dealing with a sizeable dataset

In [96]:
clim = (temp_max.merge(temp_min, on=['Station', 'Year'], how='outer')).merge(precip, on=['Station', 'Year'], how='outer')

Let's take a look at the head of `clim`

In [97]:
clim.head()

,Station,Year,Jan_tmax,Feb_tmax,Mar_tmax,Apr_tmax,May_tmax,Jun_tmax,Jul_tmax,Aug_tmax,...,Apr_pr,May_pr,Jun_pr,Jul_pr,Aug_pr,Sep_pr,Oct_pr,Nov_pr,Dec_pr,Avg/Total_pr
0,11084.0,1889.0,NaN,NaN,NaN,NaN,NaN,NaN,944.0,927.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,11084.0,1890.0,734.0,768.0,719.0,817.0,870.0,NaN,940.0,932.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,170.0,NaN
2,11084.0,1891.0,623.0,745.0,NaN,816.0,879.0,962.0,NaN,932.0,...,165.0,275.0,670.0,425.0,172.0,200.0,0.0,930.0,525.0,5048.0
3,11084.0,1892.0,553.0,706.0,722.0,832.0,851.0,926.0,894.0,946.0,...,160.0,380.0,780.0,1226.0,1355.0,300.0,100.0,165.0,NaN,NaN
4,11084.0,1893.0,573.0,699.0,694.0,811.0,861.0,938.0,962.0,946.0,...,380.0,730.0,345.0,425.0,645.0,345.0,635.0,487.0,487.0,6087.0

Lets use the `df.info()` method to gather information about the columns, including column names and data types within each column

In [99]:
clim.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 157407 entries, 0 to 157406
Data columns (total 41 columns):
Station           157407 non-null float64
Year              157407 non-null float64
Jan_tmax          149434 non-null float64
Feb_tmax          150144 non-null float64
Mar_tmax          150159 non-null float64
Apr_tmax          150211 non-null float64
May_tmax          150353 non-null float64
Jun_tmax          150325 non-null float64
Jul_tmax          150342 non-null float64
Aug_tmax          150296 non-null float64
Sep_tmax          150360 non-null float64
Oct_tmax          150399 non-null float64
Nov_tmax          150388 non-null float64
Dec_tmax          150348 non-null float64
Avg/Total_tmax    148706 non-null float64
Jan_tmin          149492 non-null float64
Feb_tmin          150184 non-null float64
Mar_tmin          150209 non-null float64
Apr_tmin          150246 non-null float64
May_tmin          150383 non-null float64
Jun_tmin          150387 non-null float64
Jul_tmin          150394 non-null float64
Aug_tmin          150385 non-null float64
Sep_tmin          150437 non-null float64
Oct_tmin          150487 non-null float64
Nov_tmin          150420 non-null float64
Dec_tmin          150395 non-null float64
Avg/Total_tmin    148821 non-null float64
Jan_pr            142319 non-null float64
Feb_pr            142505 non-null float64
Mar_pr            142603 non-null float64
Apr_pr            143041 non-null float64
May_pr            143325 non-null float64
Jun_pr            143368 non-null float64
Jul_pr            143374 non-null float64
Aug_pr            143374 non-null float64
Sep_pr            143390 non-null float64
Oct_pr            143329 non-null float64
Nov_pr            142969 non-null float64
Dec_pr            142690 non-null float64
Avg/Total_pr      134901 non-null float64
dtypes: float64(41)
memory usage: 50.4 MB

### Merging `snrf` to the `clim` dataframe

**We will be merging off of the 'Station' column**

Let's have another look at the head of the snrf dataframe

In [103]:
snrf.head()

  State Name Abbreviation Region          Sub-Region  Station
0    Alabama           AL  South  East South Central  11084.0
1    Alabama           AL  South  East South Central  12813.0
2    Alabama           AL  South  East South Central  13160.0
3    Alabama           AL  South  East South Central  13511.0
4    Alabama           AL  South  East South Central  13816.0

Calling the `.merge` with `clim` and `snrf`. Note that the `.merge` method does not persist the change to the dataframe being called on the left side (the one being merged onto). We must specify a new dataframe variable, following the convention in the sample below.
> `new_df = df0.merge(df1, on=['Col1', 'Col2'], how='outer'`

In [107]:
clim = clim.merge(snrf, on='Station', how='outer')

Lets call the `.info()` method on `clim` to see the column names and corresponding data types

In [109]:
clim.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 157409 entries, 0 to 157408
Data columns (total 45 columns):
Station           157407 non-null float64
Year              157407 non-null float64
Jan_tmax          149434 non-null float64
Feb_tmax          150144 non-null float64
Mar_tmax          150159 non-null float64
Apr_tmax          150211 non-null float64
May_tmax          150353 non-null float64
Jun_tmax          150325 non-null float64
Jul_tmax          150342 non-null float64
Aug_tmax          150296 non-null float64
Sep_tmax          150360 non-null float64
Oct_tmax          150399 non-null float64
Nov_tmax          150388 non-null float64
Dec_tmax          150348 non-null float64
Avg/Total_tmax    148706 non-null float64
Jan_tmin          149492 non-null float64
Feb_tmin          150184 non-null float64
Mar_tmin          150209 non-null float64
Apr_tmin          150246 non-null float64
May_tmin          150383 non-null float64
Jun_tmin          150387 non-null float64
Jul_tmin          150394 non-null float64
Aug_tmin          150385 non-null float64
Sep_tmin          150437 non-null float64
Oct_tmin          150487 non-null float64
Nov_tmin          150420 non-null float64
Dec_tmin          150395 non-null float64
Avg/Total_tmin    148821 non-null float64
Jan_pr            142319 non-null float64
Feb_pr            142505 non-null float64
Mar_pr            142603 non-null float64
Apr_pr            143041 non-null float64
May_pr            143325 non-null float64
Jun_pr            143368 non-null float64
Jul_pr            143374 non-null float64
Aug_pr            143374 non-null float64
Sep_pr            143390 non-null float64
Oct_pr            143329 non-null float64
Nov_pr            142969 non-null float64
Dec_pr            142690 non-null float64
Avg/Total_pr      134901 non-null float64
State Name        157409 non-null object
Abbreviation      157409 non-null object
Region            157409 non-null object
Sub-Region        157409 non-null object
dtypes: float64(41), object(4)
memory usage: 55.2+ MB

Finally, let's call call the `.head()` method to take a look at the first 5 rows of `clim`

In [110]:
clim.head()

,Station,Year,Jan_tmax,Feb_tmax,Mar_tmax,Apr_tmax,May_tmax,Jun_tmax,Jul_tmax,Aug_tmax,...,Aug_pr,Sep_pr,Oct_pr,Nov_pr,Dec_pr,Avg/Total_pr,State Name,Abbreviation,Region,Sub-Region
0,11084.0,1889.0,NaN,NaN,NaN,NaN,NaN,NaN,944.0,927.0,...,NaN,NaN,NaN,NaN,NaN,NaN,Alabama,AL,South,East South Central
1,11084.0,1890.0,734.0,768.0,719.0,817.0,870.0,NaN,940.0,932.0,...,NaN,NaN,NaN,NaN,170.0,NaN,Alabama,AL,South,East South Central
2,11084.0,1891.0,623.0,745.0,NaN,816.0,879.0,962.0,NaN,932.0,...,172.0,200.0,0.0,930.0,525.0,5048.0,Alabama,AL,South,East South Central
3,11084.0,1892.0,553.0,706.0,722.0,832.0,851.0,926.0,894.0,946.0,...,1355.0,300.0,100.0,165.0,NaN,NaN,Alabama,AL,South,East South Central
4,11084.0,1893.0,573.0,699.0,694.0,811.0,861.0,938.0,962.0,946.0,...,645.0,345.0,635.0,487.0,487.0,6087.0,Alabama,AL,South,East South Central

___
___

### Selecting for Iowa, Illinois, Nebraska, Minnesota, and Indiana, dropping NaN values, using the `.groupby()` method

The top producing corn states are Iowa, Illinois, Nebraska, Minnesota, and Indiana respectively, according to the USDA - http://www.worldofcorn.com/#us-corn-production-by-state

Let's work with the `clim` dataframe to select for these states within the 'State Name' column

In [158]:
states = ['Iowa', 'Illinois', 'Nebraska', 'Minnesota', 'Indiana']
clim_mw = clim[(clim['State Name'] == 'Iowa') | (clim['State Name'] == 'Illinois') |
               (clim['State Name'] == 'Nebraska') | (clim['State Name'] == 'Minnesota') |
               (clim['State Name'] == 'Indiana')]

Drop missing values from the clim_mw dataframe

In [159]:
clim_mw = clim_mw.dropna()

Take the mean of all data based upon the 'Year' column

In [160]:
clim_mw = clim_mw.groupby('Year').mean()

Take a look at the clim_mw dataframe

In [162]:
clim_mw.head()

,Station,Jan_tmax,Feb_tmax,Mar_tmax,Apr_tmax,May_tmax,Jun_tmax,Jul_tmax,Aug_tmax,Sep_tmax,...,Apr_pr,May_pr,Jun_pr,Jul_pr,Aug_pr,Sep_pr,Oct_pr,Nov_pr,Dec_pr,Avg/Total_pr
Year,,,,,,,,,,,,,,,,,,,,,
1871.0,115326.0,292.0,326.0,422.0,583.0,694.0,762.0,814.0,794.0,703.0,...,207.0,207.0,517.0,104.0,307.0,68.0,297.0,225.0,245.0,2812.0
1872.0,115326.0,259.0,304.0,326.0,572.0,664.0,790.0,819.0,817.0,721.0,...,347.0,341.0,318.0,438.0,331.0,889.0,62.0,147.0,96.0,3334.0
1873.0,115326.0,212.0,264.0,401.0,500.0,631.0,819.0,801.0,816.0,701.0,...,240.0,523.0,220.0,261.0,198.0,234.0,221.0,155.0,342.0,2797.0
1874.0,115326.0,285.0,308.0,392.0,471.0,706.0,799.0,857.0,798.0,753.0,...,202.0,204.0,296.0,109.0,275.0,258.0,231.0,148.0,48.0,2435.0
1875.0,115326.0,156.0,146.0,337.0,519.0,676.0,735.0,797.0,778.0,683.0,...,233.0,328.0,526.0,424.0,214.0,729.0,276.0,72.0,232.0,3469.0

Finally, index clim_mw dataframe such that the 'Year' is greater than or equal to 1975. Being that the 'Year' is the index, we will call `df.index`

In [168]:
clim_mw = clim_mw[clim_mw.index >= 1975]

Verify it worked

In [170]:
clim_mw.head()

,Station,Jan_tmax,Feb_tmax,Mar_tmax,Apr_tmax,May_tmax,Jun_tmax,Jul_tmax,Aug_tmax,Sep_tmax,...,Apr_pr,May_pr,Jun_pr,Jul_pr,Aug_pr,Sep_pr,Oct_pr,Nov_pr,Dec_pr,Avg/Total_pr
Year,,,,,,,,,,,,,,,,,,,,,
1975.0,177007.284024,328.313609,316.035503,400.715976,547.775148,744.786982,799.337278,862.213018,845.804734,712.390533,...,353.840237,341.029586,533.284024,239.254438,381.130178,214.869822,127.982249,298.396450,156.822485,3321.088757
1976.0,175997.858824,303.082353,455.123529,501.652941,643.688235,704.723529,823.170588,865.435294,843.076471,762.088235,...,267.758824,282.794118,336.941176,292.682353,167.105882,224.094118,176.188235,39.088235,36.894118,2383.888235
1977.0,175997.424419,193.622093,390.354651,520.790698,669.395349,789.470930,820.011628,878.959302,799.988372,753.703488,...,280.325581,374.180233,341.872093,341.494186,644.430233,381.372093,321.616279,222.151163,182.813953,3694.284884
1978.0,176091.840237,205.674556,239.591716,423.230769,597.514793,703.218935,817.278107,842.852071,831.733728,800.840237,...,380.946746,406.514793,308.928994,518.011834,392.899408,280.508876,145.804734,222.881657,200.118343,3207.384615
1979.0,176444.273810,174.880952,243.720238,445.809524,562.601190,698.500000,811.011905,828.916667,811.315476,777.666667,...,346.089286,305.071429,379.625000,521.369048,472.833333,126.940476,288.392857,267.613095,118.535714,3520.946429

We will be working with this dataframe further - let's call the `.reset_index` method

In [174]:
clim_mw = clim_mw.reset_index()

In [175]:
clim_mw.head()

,Year,Station,Jan_tmax,Feb_tmax,Mar_tmax,Apr_tmax,May_tmax,Jun_tmax,Jul_tmax,Aug_tmax,...,Apr_pr,May_pr,Jun_pr,Jul_pr,Aug_pr,Sep_pr,Oct_pr,Nov_pr,Dec_pr,Avg/Total_pr
0,1975.0,177007.284024,328.313609,316.035503,400.715976,547.775148,744.786982,799.337278,862.213018,845.804734,...,353.840237,341.029586,533.284024,239.254438,381.130178,214.869822,127.982249,298.396450,156.822485,3321.088757
1,1976.0,175997.858824,303.082353,455.123529,501.652941,643.688235,704.723529,823.170588,865.435294,843.076471,...,267.758824,282.794118,336.941176,292.682353,167.105882,224.094118,176.188235,39.088235,36.894118,2383.888235
2,1977.0,175997.424419,193.622093,390.354651,520.790698,669.395349,789.470930,820.011628,878.959302,799.988372,...,280.325581,374.180233,341.872093,341.494186,644.430233,381.372093,321.616279,222.151163,182.813953,3694.284884
3,1978.0,176091.840237,205.674556,239.591716,423.230769,597.514793,703.218935,817.278107,842.852071,831.733728,...,380.946746,406.514793,308.928994,518.011834,392.899408,280.508876,145.804734,222.881657,200.118343,3207.384615
4,1979.0,176444.273810,174.880952,243.720238,445.809524,562.601190,698.500000,811.011905,828.916667,811.315476,...,346.089286,305.071429,379.625000,521.369048,472.833333,126.940476,288.392857,267.613095,118.535714,3520.946429

Lets look at the `type` of the 'Year' column

In [199]:
type(clim_mw['Year'][0])

numpy.float64

### Incorporating dataset from the University of Illinois at Urbana-Champaign

In [200]:
ui = pd.read_csv(path + uiuc)

In [201]:
ui.head()

,YEAR,PLANTED,HARVEST,YIELD,PRODUCED,BEGIN,TOTSUP,EXPORTS,FEED,FSI,CONS,ENDING,FPRICE
0,1975/76,78719,67625,86.4,5841,558,6400,1664,3582,521,5767,633,2.54
1,1976/77,84588,71506,88.0,6289,633,6925,1645,3602,542,5789,1136,2.15
2,1977/78,84328,71614,90.8,6505,1136,7643,1896,3730,581,6207,1436,2.02
3,1978/79,81675,71930,101.0,7268,1436,8705,2113,4274,608,6995,1710,2.25
4,1979/80,81394,72400,109.5,7928,1710,9638,2402,4563,640,7604,2034,2.48

Rename the 'YEAR' column to 'Year'. Remember the convention below for renaming columns
>`df.rename(columns={'col_a': 'a', 'col_b': 'b'}, inplace=True)`

In [202]:
ui.rename(columns={'YEAR': 'Year'}, inplace=True)

Verify it worked

In [203]:
ui.head()

,Year,PLANTED,HARVEST,YIELD,PRODUCED,BEGIN,TOTSUP,EXPORTS,FEED,FSI,CONS,ENDING,FPRICE
0,1975/76,78719,67625,86.4,5841,558,6400,1664,3582,521,5767,633,2.54
1,1976/77,84588,71506,88.0,6289,633,6925,1645,3602,542,5789,1136,2.15
2,1977/78,84328,71614,90.8,6505,1136,7643,1896,3730,581,6207,1436,2.02
3,1978/79,81675,71930,101.0,7268,1436,8705,2113,4274,608,6995,1710,2.25
4,1979/80,81394,72400,109.5,7928,1710,9638,2402,4563,640,7604,2034,2.48

Check the `type` of the 'Year' column

In [204]:
type(ui['Year'][0])

str

**Call the `.apply` method with a `lambda` function on the 'Year' column to preserve only the characters before '/'. Cast the 'Year' column as `int`**

In [205]:
ui['Year'] = ui['Year'].apply(lambda x: int(x.split('/')[0]))

In [206]:
ui.head()

,Year,PLANTED,HARVEST,YIELD,PRODUCED,BEGIN,TOTSUP,EXPORTS,FEED,FSI,CONS,ENDING,FPRICE
0,1975,78719,67625,86.4,5841,558,6400,1664,3582,521,5767,633,2.54
1,1976,84588,71506,88.0,6289,633,6925,1645,3602,542,5789,1136,2.15
2,1977,84328,71614,90.8,6505,1136,7643,1896,3730,581,6207,1436,2.02
3,1978,81675,71930,101.0,7268,1436,8705,2113,4274,608,6995,1710,2.25
4,1979,81394,72400,109.5,7928,1710,9638,2402,4563,640,7604,2034,2.48

In [207]:
type(ui['Year'][0])

numpy.int64

### Merge the ui dataframe to clim_mw

In [208]:
corn = clim_mw.merge(ui, on='Year', how='outer')

In [209]:
corn.head()

,Year,Station,Jan_tmax,Feb_tmax,Mar_tmax,Apr_tmax,May_tmax,Jun_tmax,Jul_tmax,Aug_tmax,...,YIELD,PRODUCED,BEGIN,TOTSUP,EXPORTS,FEED,FSI,CONS,ENDING,FPRICE
0,1975.0,177007.284024,328.313609,316.035503,400.715976,547.775148,744.786982,799.337278,862.213018,845.804734,...,86.4,5841,558,6400,1664,3582,521,5767,633,2.54
1,1976.0,175997.858824,303.082353,455.123529,501.652941,643.688235,704.723529,823.170588,865.435294,843.076471,...,88.0,6289,633,6925,1645,3602,542,5789,1136,2.15
2,1977.0,175997.424419,193.622093,390.354651,520.790698,669.395349,789.470930,820.011628,878.959302,799.988372,...,90.8,6505,1136,7643,1896,3730,581,6207,1436,2.02
3,1978.0,176091.840237,205.674556,239.591716,423.230769,597.514793,703.218935,817.278107,842.852071,831.733728,...,101.0,7268,1436,8705,2113,4274,608,6995,1710,2.25
4,1979.0,176444.273810,174.880952,243.720238,445.809524,562.601190,698.500000,811.011905,828.916667,811.315476,...,109.5,7928,1710,9638,2402,4563,640,7604,2034,2.48

In [210]:
corn.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 42 entries, 0 to 41
Data columns (total 53 columns):
Year              42 non-null float64
Station           40 non-null float64
Jan_tmax          40 non-null float64
Feb_tmax          40 non-null float64
Mar_tmax          40 non-null float64
Apr_tmax          40 non-null float64
May_tmax          40 non-null float64
Jun_tmax          40 non-null float64
Jul_tmax          40 non-null float64
Aug_tmax          40 non-null float64
Sep_tmax          40 non-null float64
Oct_tmax          40 non-null float64
Nov_tmax          40 non-null float64
Dec_tmax          40 non-null float64
Avg/Total_tmax    40 non-null float64
Jan_tmin          40 non-null float64
Feb_tmin          40 non-null float64
Mar_tmin          40 non-null float64
Apr_tmin          40 non-null float64
May_tmin          40 non-null float64
Jun_tmin          40 non-null float64
Jul_tmin          40 non-null float64
Aug_tmin          40 non-null float64
Sep_tmin          40 non-null float64
Oct_tmin          40 non-null float64
Nov_tmin          40 non-null float64
Dec_tmin          40 non-null float64
Avg/Total_tmin    40 non-null float64
Jan_pr            40 non-null float64
Feb_pr            40 non-null float64
Mar_pr            40 non-null float64
Apr_pr            40 non-null float64
May_pr            40 non-null float64
Jun_pr            40 non-null float64
Jul_pr            40 non-null float64
Aug_pr            40 non-null float64
Sep_pr            40 non-null float64
Oct_pr            40 non-null float64
Nov_pr            40 non-null float64
Dec_pr            40 non-null float64
Avg/Total_pr      40 non-null float64
PLANTED           42 non-null int64
HARVEST           42 non-null int64
YIELD             42 non-null float64
PRODUCED          42 non-null int64
BEGIN             42 non-null int64
TOTSUP            42 non-null int64
EXPORTS           42 non-null int64
FEED              42 non-null int64
FSI               42 non-null int64
CONS              42 non-null int64
ENDING            42 non-null int64
FPRICE            42 non-null float64
dtypes: float64(43), int64(10)
memory usage: 17.7 KB

Based on the above output, we can see that there is an uneven distribution between our variables. Let's call the `.tail()` method to look at the last 5 rows of the corn dataframe

In [213]:
corn.tail()

,Year,Jan_tmax,Feb_tmax,Mar_tmax,Apr_tmax,May_tmax,Jun_tmax,Jul_tmax,Aug_tmax,Sep_tmax,...,YIELD,PRODUCED,BEGIN,TOTSUP,EXPORTS,FEED,FSI,CONS,ENDING,FPRICE
37,2012.0,388.560,406.512,640.688,649.400,779.344,842.464,925.392,851.280,770.200,...,123.1,10755,989,11904,730,4315,6038,11083,821,6.89
38,2013.0,342.872,350.632,408.552,561.368,716.224,800.648,831.312,831.680,794.920,...,158.1,13829,821,14686,1920,5041,6493,13454,1232,4.46
39,2014.0,291.224,273.928,437.904,612.576,724.376,811.200,809.824,821.936,747.464,...,171.0,14216,1232,15479,1864,5324,6560,13748,1731,3.70
40,2015.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,168.4,13601,1731,15392,1825,5250,6610,13685,1708,3.70
41,2016.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,168.0,14430,1708,16273,1950,5550,6670,14170,2008,3.50

We can see that our final two entries contain NaN values. Lets call the `.dropna()` method once more

In [214]:
corn.dropna(inplace=True)

In [215]:
corn.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 40 entries, 0 to 39
Data columns (total 52 columns):
Year              40 non-null float64
Jan_tmax          40 non-null float64
Feb_tmax          40 non-null float64
Mar_tmax          40 non-null float64
Apr_tmax          40 non-null float64
May_tmax          40 non-null float64
Jun_tmax          40 non-null float64
Jul_tmax          40 non-null float64
Aug_tmax          40 non-null float64
Sep_tmax          40 non-null float64
Oct_tmax          40 non-null float64
Nov_tmax          40 non-null float64
Dec_tmax          40 non-null float64
Avg/Total_tmax    40 non-null float64
Jan_tmin          40 non-null float64
Feb_tmin          40 non-null float64
Mar_tmin          40 non-null float64
Apr_tmin          40 non-null float64
May_tmin          40 non-null float64
Jun_tmin          40 non-null float64
Jul_tmin          40 non-null float64
Aug_tmin          40 non-null float64
Sep_tmin          40 non-null float64
Oct_tmin          40 non-null float64
Nov_tmin          40 non-null float64
Dec_tmin          40 non-null float64
Avg/Total_tmin    40 non-null float64
Jan_pr            40 non-null float64
Feb_pr            40 non-null float64
Mar_pr            40 non-null float64
Apr_pr            40 non-null float64
May_pr            40 non-null float64
Jun_pr            40 non-null float64
Jul_pr            40 non-null float64
Aug_pr            40 non-null float64
Sep_pr            40 non-null float64
Oct_pr            40 non-null float64
Nov_pr            40 non-null float64
Dec_pr            40 non-null float64
Avg/Total_pr      40 non-null float64
PLANTED           40 non-null int64
HARVEST           40 non-null int64
YIELD             40 non-null float64
PRODUCED          40 non-null int64
BEGIN             40 non-null int64
TOTSUP            40 non-null int64
EXPORTS           40 non-null int64
FEED              40 non-null int64
FSI               40 non-null int64
CONS              40 non-null int64
ENDING            40 non-null int64
FPRICE            40 non-null float64
dtypes: float64(42), int64(10)
memory usage: 16.6 KB

Finally, lets drop the 'Station' column

In [211]:
corn.drop('Station', axis = 1, inplace=True)

### Exploring additional variables (ethanol production)

In [225]:
eth = pd.read_csv(path + ethanol, skiprows=[0])

In [226]:
eth.head()

,Year,Frequency,Attribute,Commodity,Geography,Unit,Amount
0,1980,MY Sep-Aug,Alcohol for fuel use,Corn,United States,Million bushels,35.0
1,1981,MY Sep-Aug,Alcohol for fuel use,Corn,United States,Million bushels,86.0
2,1982,MY Sep-Aug,Alcohol for fuel use,Corn,United States,Million bushels,140.0
3,1983,MY Sep-Aug,Alcohol for fuel use,Corn,United States,Million bushels,160.0
4,1984,MY Sep-Aug,Alcohol for fuel use,Corn,United States,Million bushels,232.0

Select only the 'Year' and 'Amount' columns from eth

In [227]:
eth = eth[['Year', 'Amount']]

In [228]:
eth.head()

   Year  Amount
0  1980    35.0
1  1981    86.0
2  1982   140.0
3  1983   160.0
4  1984   232.0

Check the type of the 'Year' column

In [231]:
type(eth['Year'][0])

numpy.int64

### Join eth onto corn

In [232]:
corn = corn.merge(eth, on='Year', how='outer')

In [233]:
corn.head()

,Year,Jan_tmax,Feb_tmax,Mar_tmax,Apr_tmax,May_tmax,Jun_tmax,Jul_tmax,Aug_tmax,Sep_tmax,...,PRODUCED,BEGIN,TOTSUP,EXPORTS,FEED,FSI,CONS,ENDING,FPRICE,Amount
0,1975.0,328.313609,316.035503,400.715976,547.775148,744.786982,799.337278,862.213018,845.804734,712.390533,...,5841.0,558.0,6400.0,1664.0,3582.0,521.0,5767.0,633.0,2.54,NaN
1,1976.0,303.082353,455.123529,501.652941,643.688235,704.723529,823.170588,865.435294,843.076471,762.088235,...,6289.0,633.0,6925.0,1645.0,3602.0,542.0,5789.0,1136.0,2.15,NaN
2,1977.0,193.622093,390.354651,520.790698,669.395349,789.470930,820.011628,878.959302,799.988372,753.703488,...,6505.0,1136.0,7643.0,1896.0,3730.0,581.0,6207.0,1436.0,2.02,NaN
3,1978.0,205.674556,239.591716,423.230769,597.514793,703.218935,817.278107,842.852071,831.733728,800.840237,...,7268.0,1436.0,8705.0,2113.0,4274.0,608.0,6995.0,1710.0,2.25,NaN
4,1979.0,174.880952,243.720238,445.809524,562.601190,698.500000,811.011905,828.916667,811.315476,777.666667,...,7928.0,1710.0,9638.0,2402.0,4563.0,640.0,7604.0,2034.0,2.48,NaN

In [234]:
corn.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 42 entries, 0 to 41
Data columns (total 53 columns):
Year              42 non-null float64
Jan_tmax          40 non-null float64
Feb_tmax          40 non-null float64
Mar_tmax          40 non-null float64
Apr_tmax          40 non-null float64
May_tmax          40 non-null float64
Jun_tmax          40 non-null float64
Jul_tmax          40 non-null float64
Aug_tmax          40 non-null float64
Sep_tmax          40 non-null float64
Oct_tmax          40 non-null float64
Nov_tmax          40 non-null float64
Dec_tmax          40 non-null float64
Avg/Total_tmax    40 non-null float64
Jan_tmin          40 non-null float64
Feb_tmin          40 non-null float64
Mar_tmin          40 non-null float64
Apr_tmin          40 non-null float64
May_tmin          40 non-null float64
Jun_tmin          40 non-null float64
Jul_tmin          40 non-null float64
Aug_tmin          40 non-null float64
Sep_tmin          40 non-null float64
Oct_tmin          40 non-null float64
Nov_tmin          40 non-null float64
Dec_tmin          40 non-null float64
Avg/Total_tmin    40 non-null float64
Jan_pr            40 non-null float64
Feb_pr            40 non-null float64
Mar_pr            40 non-null float64
Apr_pr            40 non-null float64
May_pr            40 non-null float64
Jun_pr            40 non-null float64
Jul_pr            40 non-null float64
Aug_pr            40 non-null float64
Sep_pr            40 non-null float64
Oct_pr            40 non-null float64
Nov_pr            40 non-null float64
Dec_pr            40 non-null float64
Avg/Total_pr      40 non-null float64
PLANTED           40 non-null float64
HARVEST           40 non-null float64
YIELD             40 non-null float64
PRODUCED          40 non-null float64
BEGIN             40 non-null float64
TOTSUP            40 non-null float64
EXPORTS           40 non-null float64
FEED              40 non-null float64
FSI               40 non-null float64
CONS              40 non-null float64
ENDING            40 non-null float64
FPRICE            40 non-null float64
Amount            37 non-null float64
dtypes: float64(53)
memory usage: 17.7 KB

We see that there are again several instances of missing values. Lets go ahead and drop those

In [235]:
corn.dropna(inplace=True)

In [238]:
corn.head()

,Year,Jan_tmax,Feb_tmax,Mar_tmax,Apr_tmax,May_tmax,Jun_tmax,Jul_tmax,Aug_tmax,Sep_tmax,...,PRODUCED,BEGIN,TOTSUP,EXPORTS,FEED,FSI,CONS,ENDING,FPRICE,Amount
5,1980.0,304.604651,298.058140,419.250000,611.581395,741.034884,816.360465,894.093023,853.906977,772.098837,...,6639.0,2034.0,8675.0,2391.0,4232.0,659.0,7282.0,1392.0,3.12,35.0
6,1981.0,347.028902,399.289017,513.040462,666.930636,686.184971,818.265896,838.728324,810.294798,749.173410,...,8119.0,1392.0,9511.0,1997.0,4245.0,733.0,6975.0,2537.0,2.47,86.0
7,1982.0,222.075000,319.181250,448.562500,569.743750,738.812500,756.750000,851.362500,811.625000,729.931250,...,8235.0,2537.0,10772.0,1821.0,4573.0,855.0,7249.0,3523.0,2.55,140.0
8,1983.0,325.353659,391.920732,458.615854,535.060976,675.115854,802.621951,890.926829,900.695122,778.585366,...,4174.0,3523.0,7699.0,1886.0,3876.0,930.0,6693.0,1006.0,3.21,160.0
9,1984.0,279.734177,420.525316,386.132911,567.702532,686.575949,824.164557,844.221519,863.170886,731.164557,...,7672.0,1006.0,8680.0,1850.0,4115.0,1067.0,7032.0,1648.0,2.63,232.0

Rename the 'Amount' column to 'Ethanol'

In [241]:
corn.rename(columns={'Amount': 'Ethanol'}, inplace=True)

In [242]:
corn.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 35 entries, 5 to 39
Data columns (total 53 columns):
Year              35 non-null float64
Jan_tmax          35 non-null float64
Feb_tmax          35 non-null float64
Mar_tmax          35 non-null float64
Apr_tmax          35 non-null float64
May_tmax          35 non-null float64
Jun_tmax          35 non-null float64
Jul_tmax          35 non-null float64
Aug_tmax          35 non-null float64
Sep_tmax          35 non-null float64
Oct_tmax          35 non-null float64
Nov_tmax          35 non-null float64
Dec_tmax          35 non-null float64
Avg/Total_tmax    35 non-null float64
Jan_tmin          35 non-null float64
Feb_tmin          35 non-null float64
Mar_tmin          35 non-null float64
Apr_tmin          35 non-null float64
May_tmin          35 non-null float64
Jun_tmin          35 non-null float64
Jul_tmin          35 non-null float64
Aug_tmin          35 non-null float64
Sep_tmin          35 non-null float64
Oct_tmin          35 non-null float64
Nov_tmin          35 non-null float64
Dec_tmin          35 non-null float64
Avg/Total_tmin    35 non-null float64
Jan_pr            35 non-null float64
Feb_pr            35 non-null float64
Mar_pr            35 non-null float64
Apr_pr            35 non-null float64
May_pr            35 non-null float64
Jun_pr            35 non-null float64
Jul_pr            35 non-null float64
Aug_pr            35 non-null float64
Sep_pr            35 non-null float64
Oct_pr            35 non-null float64
Nov_pr            35 non-null float64
Dec_pr            35 non-null float64
Avg/Total_pr      35 non-null float64
PLANTED           35 non-null float64
HARVEST           35 non-null float64
YIELD             35 non-null float64
PRODUCED          35 non-null float64
BEGIN             35 non-null float64
TOTSUP            35 non-null float64
EXPORTS           35 non-null float64
FEED              35 non-null float64
FSI               35 non-null float64
CONS              35 non-null float64
ENDING            35 non-null float64
FPRICE            35 non-null float64
Ethanol           35 non-null float64
dtypes: float64(53)
memory usage: 14.8 KB

# Writing corn to a csv file

In [244]:
corn.to_csv(path + 'csvs_from_jupyter_nb/corn.csv', index=False)